<div class="form-group">
  <label style="text-align: center" for="password">Password:</label>
  <input type="password" id="password" (input)="checkPasswordStrength($event)">
  <div class="strength-sections">
    <div [ngStyle]="{'background-color': getColorSecionFirst(status)}" class="strength-section"></div>
    <div [ngStyle]="{'background-color': getColorSecionSecond(status)}" class="strength-section"></div>
    <div [ngStyle]="{'background-color': getColorSecionThird(status)}" class="strength-section"></div>
  </div>
</div>
